* {
    box-sizing: border-box;
}

body {
    background-color: #111;
    display: flex;

    align-items: center;
    height: 100vh;
    margin: 0;
    justify-content: center;

    position: relative;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 400px;
}

.square {
    background-color: #1d1d1d;
    box-shadow: 0 0 2px #000;
    height: 16px;
    width: 16px;
    margin: 2px;
    transition: 2s ease;
}

.square:hover {
    transition-duration: 0s;
}



/**/

/* .paleta {
    display: flex;
}

.one,
.two,
.three {
    /* height: 70px;
    width: 40px; */
/*
}

.one>div {
     height: 100%; 

}

.one div:nth-child(1) {
    background: red;
}

.one div:nth-child(2) {
    background: rgb(253, 130, 130);
}

.one div:nth-child(3) {
    background: rgb(97, 3, 3);
}


.two>div {
    height: 100%; 
}

.two div:nth-child(1) {
    background: rgb(0, 89, 255);
}

.two div:nth-child(2) {
    background: rgb(1, 13, 126);
}

.two div:nth-child(3) {
    background: rgb(23, 140, 250);
}


.three>div {
     height: 100%; 
}

.three div:nth-child(1) {
    background: rgb(0, 255, 98);
}

.three div:nth-child(2) {
    background: rgb(42, 252, 0);
}

.three div:nth-child(3) {
    background: rgb(4, 121, 57);
} */


.pallete {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    left: 45px
}

.one,
.two,
.three {
    height: 70px;
    width: 30px;
    display: flex;

}

.one div,
.two div,
.three div {
    height: 100%;
    width: 10px;

    padding: 2rem 0rem;
}

.one {
    margin-bottom: 20px;
}

.two {
    margin-bottom: 20px;
}




.one div:nth-child(1) {
    background: rgb(230, 17, 17);
}

.one div:nth-child(2) {
    background: rgb(255, 87, 87);
}

.one div:nth-child(3) {
    background: rgb(235, 117, 117);
}

.two div:nth-child(1) {
    background: rgb(0, 89, 255);
}

.two div:nth-child(2) {
    background: rgb(1, 13, 126);
}

.two div:nth-child(3) {
    background: rgb(23, 140, 250);
}

.three div:nth-child(1) {
    background: rgb(0, 255, 98);
}

.three div:nth-child(2) {
    background: rgb(36, 95, 25);
}

.three div:nth-child(3) {
    background: rgb(4, 121, 57);
}


.buttons {
    position: relative;
}

h1 {
    color: white;
}

.buttons button {
    border: 1px solid black;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    position: absolute;
}

.buttons button:nth-child(1) {
    top: -24.5rem;
    left: -65rem;

}

.buttons button:nth-child(2) {
    top: -19.5rem;
    left: -65rem;

}

.buttons button:nth-child(3) {
    top: -13.5rem;
    left: -65rem;

}